player-connection-mode=Listen
player-connection-guid=1031049994
player-connection-debug=0
player-connection-project-name=Knight Blast 3D
player-connection-wait-timeout=-1
player-connection-ip=10.5.130.164
profiler-enable=1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
